.bg-img {
	width: 100%;
	position: relative;
	overflow: visible
	&__show-default {
		background: aliceblue;
	}
	&__visible-content {
		display: block;
		height: 220px;
		background-size: cover;
		background-position: center;
		background: aliceblue;
/*	    background-image: url(/);*/	    
		margin-top: -1px;
	}
}
.card {
	&__header {
		margin: -92px auto 0;
		position: relative;
		width: 128px;
	}
	&__photo_wrapper {
		background-color: rgba(243,246,248,.94);
		border: 4px solid #fff;
		box-sizing: content-box;
		margin: auto;
		position: relative;
		border-radius: 50%;
	}
	&__photo--edit,&__photo--preview {
		width: 128px;
		height: 128px;
		border-radius: 50%;
		margin: 0 auto; 
		position: relative; 
		background-color: #e6e9ec;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		box-sizing: border-box;
	}
	&__photo--edit {
		width: 120px;
		color: white;
		font-size: 42px;
	}
	&__photo_wrapper--shadow {
		box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
	}


}