
.form {
	&__signin__container {
		background-color:#269;
		background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
		background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
		padding-top: 100px;
		min-height: 1000px;
	}
	&__signin {
		padding: 15px;
		margin: 0 auto;
		.form-control {
			position: relative;
			font-size: 16px;
			height: auto;
			padding: 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.form-control:focus {
			z-index: 2;
		}
		.button {
			border-radius: 4px;
		}
		input {
			border: 1px solid #ccc;
   			border-radius: 4px;
   			margin-bottom: 0px;
		}
		input[type="text"] {
			margin-bottom: -1px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-top-style: solid;
			border-right-style: solid;
			border-bottom-style: none;
			border-left-style: solid;
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);
		}
		input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top-style: none;
			border-right-style: solid;
			border-bottom-style: solid;
			border-left-style: solid;
			border-top:1px solid rgba(0,0,0,0.08);
		}
	}
	&__signin__backgound {
		padding-top: 120px;
		padding-bottom: 40px;
		background-color: #eee;
	}
	&__signin__heading {
		color: #fff;
		text-align: center;
		text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	}
	&__signin__btn {
		outline:0;
		border:none;
		border-top:none;
		border-bottom:none;
		border-left:none;
		border-right:none;
		box-shadow:inset 2px -3px rgba(0,0,0,0.15);
		&:focus {
			outline:0;
			-webkit-outline:0;
			-moz-outline:0;
		}
	}
	.form__signin .form__signin__heading, .form__signin {
		margin-bottom: 10px;
	}

}
