@import "../node_modules/foundation-sites/scss/foundation";

@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;
@include foundation-everything;

@import "404page";
@import "autoSuggest";
@import "signin";
@import "userProfile";
body {
    margin: 0px;
}

.top-spacer{
    margin-top: 10px;
}
/* global */
$app-colors: (
  white: white,
) !default;

@each $name, $color in $app-colors {
  .text-color-#{$name} { color:$color !important; }
}

@for $i from 1 through 10 {
	.top_spacer#{$i * 10} {
		margin-top: $i * 10 + px;
	}
	.bottom_spacer#{$i * 10} {
		margin-bottom: $i * 10 + px;
	}
	.top_padding#{$i * 10} {
		padding-top: $i * 10 + px;
	}
	.bottom_padding#{$i * 10} {
		padding-bottom: $i * 10 + px;
	}
}