@for $i from 1 through 10 {
	.top_spacer#{$i * 10} {
		margin-top: $i * 10 + px;
	}
	.bottom_spacer#{$i * 10} {
		margin-bottom: $i * 10 + px;
	}
	.top_padding#{$i * 10} {
		padding-top: $i * 10 + px;
	}
	.bottom_padding#{$i * 10} {
		padding-bottom: $i * 10 + px;
	}
}